.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hero .socials {
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-align: center;
}

.socials ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
}

.socials img {
    height: 1.85rem;
    transition: all 200ms ease;
}

.socials img.scale {
    scale: 1.35;
}

.socials img:hover {
    filter: drop-shadow(0 0 20px var(--accent));
}

.lucky-man {
    filter: grayscale(0.25);
    cursor: pointer;
    transition: all 300ms ease-in;
}

.lucky-man:hover {
    filter: grayscale(0);
}

#about {
    display: flex;
    gap: 1rem;
    min-height: 100vh;
    margin-inline: auto;
    text-align: right;
    align-items: center;
    padding: 2rem;
    width: clamp(200px, 90%, 600px);
}

#about p {
    margin-top: 2rem;
    line-height: 1.5rem;
}

#about img,
#skills img {
    mix-blend-mode: multiply;
    height: 200px;
}

#projects img { 
    height: 200px;
}

#projects,
#skills {
    display: flex;
    gap: 1rem;
    min-height: 100vh;
    margin-inline: auto;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    width: clamp(200px, 90%, 600px);
}

#projects .heading,
#skills .heading {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#projects .cards,
#skills .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
}

.cards .card {
    flex-grow: 1;
    min-width: 250px;
    padding: 0.75rem;
    border: 1px solid var(--dark);
    border-radius: 10px;
    transition: all 200ms ease;
    cursor: pointer;
}

.card .tags span {
    margin-right: 0.25rem;
    font-size: 0.65rem;
    background: var(--dark);
    color: var(--theme);
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
}

.card img {
    border-radius: 6px;
    box-shadow: 0 0 20px rgb(0 0 0 / 0.1);
}

.card p {
    font-size: 0.9rem;
    max-width: 200px;
}

.card span a {
    color: var(--accent);
    font-size: 0.8rem;
}

.cards .card:hover {
    background: var(--dark);
    box-shadow: 0 0 50px rgb(0 0 0 / 0.1);
}

.cards .card:hover h3,
.cards .card:hover p, 
.cards .card:hover span a {
    color: var(--theme);
}

.cards .card:hover .tags span {
    background-color: var(--theme);
    color: var(--dark);
}

#skills {
    justify-content: center;
}

#skills .cards {
    align-items: flex-start;
    flex-wrap: wrap;
}

#skills .cards .card {
    min-width: 50px;
    display: flex;
    justify-content: center;
}

#skills img {
    height: 10rem;
}

footer {
    margin-block: 4rem;
    padding: 2rem 4rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--dark);
    font-size: 0.9rem;
}

footer a, 
footer p {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--theme);
}

footer img {
    height: 25px;
}

@media screen and (max-width: 588px) {
    .lucky-man {
        width: 100px;
        height: fit-content
    }

    #about {
        flex-direction: column;
        text-align: center;
    }

    #projects .cards {
        flex-direction: column;
        align-items: center;
    }

}